{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ title }}</h1>
    <p>You can change dummy data ($userId = 1) in userSubscriptions Action</p>

    {% for sub in userSubscriptionArray %}
        <ul>
        <li>Hello! {{ sub.user.username }}</li>
        <li><span class="data description">Subscription id:</span> {{ sub.id }}</li>
            {% if sub.status != 'stopped' %}
                <a href="{{ path('subscription_stop', {id: sub.id}) }}"><button class="btn btn-danger">stop</button></a>
            {% else %}
                <a href="{{ path('subscription_activate', {id: sub.id}) }}"><button class="btn btn-info">activate</button></a>
            {% endif %}
        <li><span class="data description">status:</span> {{ sub.status }}</li>
        <li><span class="data description">started at:</span> {{ sub.startedAt | date('Y-m-d') }}
            <li>Billing history</li>
            <ul>
                {% for subPay in sub.subscriptionPayments %}
                <li><span class="data description">id:</span> {{ subPay.id }} <span class="data description">amount:</span> {{ subPay.chargedamount }} zł <span class="data description">at:</span> {{ subPay.date | date('Y-m-d') }}</li>
                {% endfor %}
                <a href="{{ path('index') }}"><button class="btn btn-success">pay</button></a>
            </ul>
        </ul>
    {% endfor %}

</div>
{% endblock %}
